body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

header {
  background: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 2rem;
  min-height: 80vh;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0f7fa;
}

.auth-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  width: 300px;
  text-align: center;
}

.auth-container input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
}

.enrolled-courses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.course-progress-card {
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.progress-bar {
  background: #eee;
  border-radius: 20px;
  height: 15px;
  margin: 10px 0;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  width: 0;
  border-radius: 20px;
  transition: width 0.4s ease;
}


.courses-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.course-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  width: 250px;
  height: 250px;
}


